h1 {
  font-family: "Comic Sans MS", sans-serif;
  color: white;
}
h2 {
  font-family: "Comic Sans MS", sans-serif;
  color: white;
}
p {
  font-family: "Comic Sans MS", sans-serif;
  color: white;
}
ul {
  list-style-type: square;
  font-family: "Comic Sans MS", sans-serif;
  color: white;
}
body{
  background-image: url('host/images/ThatOneBFDIASkyBackground.webp');
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
}