h1, h2, p, ul {
  font-family: "Comic Sans MS", sans-serif;
  color: white;
}
body {
  background-image: url('host/images/ThatOtherBFDIASkyBackground.jpeg');
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}